* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  }
  
  header {
    background-color: #f8f9fa;
    padding: 20px;
    width: 100%;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #003147;
    font-weight: bold;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .left_side {
    background: #003147;
    padding: 40px;
  }
  
  .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .mainText .imgBox {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .mainText .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mainText h1 {
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
  }
  
  .contacts {
    padding-top: 40px;
  }
  
  .named {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .contacts ul {
    list-style: none;
  }
  
  .contacts ul li {
    margin: 10px 0;
  }
  
  .contacts ul li .icon {
    display: inline-block;
    width: 35px;
    font-size: 20px;
    color: #03a9f4;
  }
  
  .contacts ul li span {
    color: #ffffff;
    font-weight: 300;
  }
  
  .contacts a {
    text-decoration: none;
    color: white;
  }
  
  .contacts a:hover {
    color: white;
  }
  
  .contacts .education li {
    margin-bottom: 15px;
  }
  
  .contacts .education h4 {
    color: #03a9f4;
    font-weight: 500;
  }
  
  .contacts .education h3 {
    color: #ffffff;
    font-weight: 500;
  }
  
  p {
    color:#ffffff
  }
  
  .right_side {
    background: #ffffff;
    padding: 40px;
  }
  
  .aboutMe {
    margin-bottom: 50px;
  }
  
  .aboutMe a {
    text-decoration: none;
    font-size: 32px;
    color:#003147;
  }
  
  .aboutMe.skills li{
    color: #003147;
    margin-top: 10px;
  }
  
  .level {
    position: relative;
    width: 100%;
    height: 8px;
    background:#453d3d;
    display: block;
    margin-top: 5px
  }
  
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:#03a9f4;
  }
  
  .named2 {
    color: #003147;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .aboutMe p {
    color: #003147;
    padding-top: 20px;
  }
  
  pre {
    background-color: #c9c2c2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
  }
  
  pre, code {
    font-family: Consolas, "Courier New", Courier, monospace;
  }
  
  footer {
    background-color: #c9c2c2;
    padding: 20px;
    width: 100%;
  }
  
  footer a {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
  
  footer svg {
    width: 100px; 
    height: auto;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  footer ul li {
    display: inline;
  }
  
  footer ul li p {
    color: #000000;
    font-size: 28px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
  }